.booking {
  margin-bottom: 3rem;
}

.booking__header {
  overflow: hidden;
  background: hsl(0, 0%, 97%);
}

.booking__header h4 {
  margin: 1rem 0 0.1rem;
}

.booking__header p {
  margin: 0 0 1rem;
}

ol.progtrckr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0 0 2.2rem;
  list-style-type: none;
}
ol.progtrckr li {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 3.5rem;
  padding: 0 0.7rem;
  cursor: pointer;
}
@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}
.progtrckr em {
  display: none;
}
@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: hsl(0, 0%, 80%);
  border-bottom: 4px solid hsl(0, 0%, 80%);
}
ol.progtrckr li.progtrckr-doing {
  color: black;
  border-bottom: 4px solid #6c63ff;
}
ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 4px solid #6c63ff;
}
ol.progtrckr li:before {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 50%;
  bottom: -0.8rem;
  left: calc(50% - 9px);
}
ol.progtrckr li.progtrckr-todo:before {
  position: absolute;
  content: "\039F";
  color: silver;
  background-color: white;
  line-height: 1.4em;
}
ol.progtrckr li.progtrckr-todo:hover:before {
  color: #6c63ff;
}

ol.progtrckr li.progtrckr-doing:before {
  content: "\2022";
  color: white;
  background-color: #6c63ff;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #6c63ff;
}

ol.progtrckr li.progtrckr-doing:hover:before,
ol.progtrckr li.progtrckr-done:hover:before {
  color: #97ff65;
}

.progtrckr__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 3em;
}
@media (max-width: 320px) {
  .progtrckr__buttons .button {
    padding: 5pt 12pt;
  }
}

.step__one {
  display: flex;
}

.step__one__left {
  margin: 30px 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
}
.step__one__labels {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.step__one__labels label {
  padding: 0;
  font-size: 1.1em;
}
.step__one__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step__one__right img {
  max-width: 20%;
}
.step__one__benefits_labels {
  display: flex;
  margin-left: 50px;
}
@media (max-width: 1024px) {
  .step__one {
    flex-direction: column;
  }
  .step__one__left {
    margin-right: 0;
  }
  .step__one__right {
    display: none;
  }
}

.price__details {
  width: 100%;
  margin-top: 6px;
}
@media (min-width: 700px) {
  .step__one__priceDetails {
    max-width: 464px;
  }
}

.price__details__row {
  padding: 8px 0;
  border-bottom: 1px solid hsl(0, 0%, 90%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.price__details__row:last-child {
  border-bottom: 0 none;
}
.price__details__row span:first-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.price__details__row__discount {
  color: rgb(0, 132, 137);
}

.price__details__row span .popover__button {
  cursor: pointer;
  margin-left: 10px;
  padding: 1px;
}
.price__details__row span .popover__button:hover,
.price__details__row span .popover__button:focus {
  color: #6c63ff;
}
.price__details__tooltip .price__details__row {
  padding: 0;
}
.price__details__notes {
  display: flex;
  margin-bottom: 10px;
}

.step__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.step__two__inputs,
.step__two__details {
  width: 50%;
}
.step__two__details {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.step__two__details > img {
  max-width: 20%;
}

.step__two__inputs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.step__two__inputs__row__input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.step__two__inputs__row__input:nth-child(even) {
  margin-left: 10px;
}
.step__two__inputs__row__input label[for="phone"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.step__two__inputs__row__input label[for="phone"] button {
  margin: 0 0 0 5px;
}
#stepTwoPhoneTooltip .icon__label {
  padding: 7pt 0 0;
}
#stepTwoPhoneTooltip small,
#stepTwoPhoneTooltip .icon__label {
  font-size: 0.9em;
}

@media (max-width: 800px) {
  .step__two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .step__two__inputs,
  .step__two__details {
    width: unset;
  }

  .step__two__details {
    display: none;
  }
}
@media (max-width: 500px) {
  .step__two__inputs__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .step__two__inputs__row__input:nth-child(even) {
    margin-left: 0;
  }
}

.step__three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.step__three__card {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: 1.2em;
}
.step__three__card:first-child {
  margin-top: 0;
}
.step__three__card__summaryHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.step__three__card__summaryHeader h4 {
  margin: 0 0 0 10px;
}
.step__three__card > p,
.step__three__card > .icon__label {
  margin: 0;
  padding: 0;
}
.step__three__card > .icon__label {
  padding: 4pt 0;
}
.step__three__card > p:first-of-type,
.step__three__card > .icon__label:nth-child(2),
.step__three__card > .price__details {
  margin: 1em 0 0 0;
}

.step__three__card__paymentMethods {
  margin: 1em 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.step__three__card__paymentMethods p {
  margin-bottom: 0;
  font-size: 0.833em;
  line-height: 1em;
}
.step__three__card__paymentMethods small {
  display: block;
}
@media (min-width: 600px) {
  .step__three__card__paymentMethods {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .step__three__card__paymentMethods--left,
  .step__three__card__paymentMethods--right {
    width: 50%;
  }
  .step__three__card__paymentMethods--left {
    margin-right: 10px;
  }
  .step__three__card--type,
  .step__three__card--contactData,
  .step__three__card--benefits,
  .step__three__card--price {
    width: 48%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
  .step__three__card--type,
  .step__three__card--contactData {
    margin: 0;
  }
}

.step__three__card__sendReservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.step__three__card__sendReservation > small {
  display: block;
  margin: 1em 0 2em 0;
  max-width: 395px;
}
.step__three__card__sendReservation a {
  border-bottom: 1px dotted #666;
}

.step__three__card__sendReservation--submit {
  position: relative;
  height: 43px;
  width: 165px;
  margin-bottom: 0.5em;
}
.step__three__card__sendReservation--submit .button,
.step__three__card__sendReservation--submit .loader {
  position: absolute;
  -webkit-transition: all 300ms, color 0s;
  -o-transition: all 300ms, color 0s;
  transition: all 300ms, color 0s;
}
.step__three__card__sendReservation--submit .loader {
  left: calc(50% - 20px);
  opacity: 0;
  visibility: hidden;
}
.step__three__card__sendReservation--submit .button.loading {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  color: transparent;
  opacity: 0;
}
.step__three__card__sendReservation--submit .loader.loading {
  opacity: 1;
  visibility: visible;
}

.step__one__error {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 10px 0 0 0;
}

.booking__successful {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3em 2em;
}
.booking__successful > img {
  max-width: 50%;
  max-width: 200px;
}
.booking__successful > p {
  max-width: 480px;
}
.booking__successful > a {
  border-bottom: 1px dotted #7c7c7c;
}
.booking__successful--socialButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 1em 0;
}
.booking__successful--socialButtons a.sc-btn:first-child {
  margin-right: 1em;
}
