/* Components */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.invisible {
  opacity: 0;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.fakefield {
  display: none;
}

.left-align {
  text-align: left;
}

.center,
center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.stress {
  color: #111;
}

img,
svg {
  max-width: 100%;
}

.container {
  width: 88%;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}

.row {
  display: block;
  width: 100%;
  clear: both;
}

.half {
  width: 50%;
  overflow: auto;
  float: left;
}

.text-container {
  max-width: 640px;
}
.text-container--center {
  margin-left: auto;
  margin-right: auto;
}

.margin-right {
  margin-right: 8pt;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #666;
  line-height: 1.7;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga" on;
  font-feature-settings: "liga" on;
  -moz-font-feature-settings: "liga" on;
}

p {
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.35;
  color: #111;
  font-weight: 400;
}

h5,
h6 {
  margin: 1.414em 0 0.5em;
  line-height: 1.4;
  color: #666;
  font-weight: 400;
}

h1 {
  margin-top: 0;
  font-size: 1.974em;
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.44em;
}

h4 {
  font-size: 1.2em;
}

small,
h6 {
  font-size: 0.833em;
  margin: 0.25em 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 0.85rem;
  color: #111;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  background: #f7f7f7;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  padding: 8pt 16pt;
  width: 100%;
  overflow: auto;
  border: 1px solid #eee;
}

a {
  outline: 0;
  text-decoration: none;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  color: inherit;
}

.link {
  /* color: #6c63ff;
  text-decoration: underline; */
  border-bottom: 1px dashed;
}
@media (min-width: 992px) {
  .link:hover {
    /* color: #463aff; */
  }
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6pt 20pt;
  line-height: 1.7;
  border: 1px solid #6c63ff;
  color: #6c63ff;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  margin-bottom: 1.3em;
  -webkit-transition: all 0.7s, visibility 0s;
  -o-transition: all 0.7s, visibility 0s;
  transition: all 0.7s, visibility 0s;
  text-align: center;
  text-decoration: none;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  outline: 0;
}
@media (min-width: 992px) {
  .button:hover {
    border-color: #463aff;
    color: #463aff;
  }
}

.button > svg:first-child {
  margin-right: 15px;
}

.button__primary {
  background-color: #6c63ff;
  border-color: #6c63ff;
  color: #fff;
}
@media (min-width: 992px) {
  .button__primary:hover {
    background-color: #463aff;
    border-color: #463aff;
    color: #fff;
  }
}

.button__tertiary {
  background-color: transparent;
  border-color: transparent;
  color: #8e8d8d;
  font-weight: bold;
  text-decoration: underline;
}
@media (min-width: 992px) {
  .button__tertiary:hover {
    border-color: transparent;
    color: #8e8d8d;
  }
}

.button__accent {
  background-color: #06d19c;
  border-color: #06d19c;
  color: #fff;
}
@media (min-width: 992px) {
  .button__accent:hover {
    background-color: #05bd8d;
    border-color: #05bd8d;
    color: #fff;
  }
}

.button__delete {
  background-color: tomato;
  border-color: tomato;
  color: #fff;
}
@media (min-width: 992px) {
  .button__delete:hover {
    background-color: #ff5233;
    border-color: #ff5233;
    color: #fff;
  }
}

.button:disabled {
  opacity: 0.25;
  cursor: default;
  pointer-events: none;
}

.button--fixed {
  width: 160px;
}

.button--fixed2 {
  width: 220px;
}

/* Icon button */
.icon-button {
  color: inherit;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}
.icon-button svg {
  vertical-align: middle;
}

form {
  margin-bottom: 1.5em;
}
form .double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
form .double .half {
  max-width: 48%;
}

.form {
  margin-left: auto;
  margin-right: auto;
}

label {
  margin-bottom: 2pt;
  display: block;
  text-align: left;
  color: #666;
  font-size: 0.9em;
  padding-left: 10pt;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #eee;
  width: 100%;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  color: #111;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  border-radius: 3px;
  padding: 10px;
  background-color: #f7f7f7;
  margin-bottom: 1.4em;
  display: block;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus {
  border-color: rgba(108, 99, 255, 0.5);
  outline: 0;
  background-color: #ffffff;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #eee;
  width: 100%;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  color: #111;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  border-radius: 3px;
  padding: 12px 10px;
  background-color: #f7f7f7;
  margin-bottom: 1.4em;
  display: block;
  resize: none;
  min-height: 8em;
  outline: 0;
}
textarea:focus {
  border-color: rgba(108, 99, 255, 0.5);
  outline: 0;
  background-color: #ffffff;
}

select {
  border: 1px solid #eee;
  width: 100%;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  color: #111;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 10pt 20pt;
  margin-bottom: 1.4em;
  display: block;
  border-radius: 30px;
  background-color: #f7f7f7;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fas" data-icon="caret-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-caret-down fa-w-10 fa-3x"><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" class=""></path></svg>');
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: 0.8em;
}
select::-ms-expand {
  display: none;
  /* hide the default arrow in ie10 and ie11 */
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-size: 0.9em;
  opacity: 0.65;
  color: #666;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 0.9em;
  opacity: 0.65;
  color: #666;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 0.9em;
  opacity: 0.65;
  color: #666;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 + lt if placeholders.js */
  font-size: 0.9em;
  opacity: 0.65;
  color: #666;
}

/* Remove default Radio Buttons */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  -webkit-transition: 0.28s ease;
  -o-transition: 0.28s ease;
  transition: 0.28s ease;
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 2em;
  cursor: pointer;
  display: inline-block;
  height: 1.7em;
  line-height: 1.7em;
  -webkit-transition: 0.28s ease;
  -o-transition: 0.28s ease;
  transition: 0.28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[type="radio"] + label:before,
[type="radio"] + label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 3px;
  width: 1.2em;
  height: 1.2em;
  z-index: 0;
  -webkit-transition: 0.28s ease;
  -o-transition: 0.28s ease;
  transition: 0.28s ease;
}

/* Unchecked styles */
[type="radio"]:not(:checked) + label:before {
  -webkit-transition: 0.28s ease;
  -o-transition: 0.28s ease;
  transition: 0.28s ease;
  border-radius: 50%;
  border: 1px solid #666;
}

[type="radio"]:not(:checked) + label:after {
  -webkit-transition: 0.28s ease;
  -o-transition: 0.28s ease;
  transition: 0.28s ease;
  border-radius: 50%;
  border: 1px solid #666;
  z-index: -1;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

/* Checked styles */
[type="radio"]:checked + label:before {
  border-radius: 50%;
  border: 1px solid transparent;
}

[type="radio"]:checked + label:after {
  border-radius: 50%;
  border: 1px solid #6c63ff;
  background-color: #6c63ff;
  z-index: 0;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

/* Disabled style */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  background-color: transparent;
  border-color: #eee;
  cursor: default;
}

[type="radio"]:disabled + label {
  color: #eee;
  cursor: default;
}

[type="radio"]:disabled:not(:checked) + label:before {
  border-color: #eee;
}

[type="radio"]:disabled:checked + label:after {
  background-color: #eee;
  border-color: #666;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

[type="checkbox"] {
  /* checkbox aspect */
}
[type="checkbox"] + label {
  position: relative;
  padding-left: 2em;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 0.9em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 3px;
  width: 15px;
  height: 15px;
  z-index: 0;
  border: 1px solid #666;
  border-radius: 1px;
  margin-top: 4px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
[type="checkbox"]:not(:checked):disabled + label:before {
  border: none;
  background-color: #eee;
}

[type="checkbox"]:checked + label:before {
  top: -2px;
  left: -2px;
  width: 10px;
  height: 18px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #06d19c;
  border-bottom: 2px solid #06d19c;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type="checkbox"]:checked:disabled + label:before {
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.icon__label {
  text-align: left;
  padding: 7pt 3pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  line-height: 1.8;
}
.icon__label > div:first-child,
.icon__label > svg:first-child {
  margin-right: 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.icon__label > span:nth-child(2) {
  line-height: 1.3;
  color: #666;
}

small.error,
label.error {
  color: red;
  padding: 0;
}
input.error,
textarea.error {
  border-color: #faa7bb;
  background-color: #fdf4f5;
}
small.success,
label.success {
  color: green;
  padding: 0;
}

.landing__section {
  padding: 24pt 0;
}

.landing__section:nth-child(odd) {
  background-color: #f7f7f7;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #6c63ff;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.navbar--nofixed {
  position: relative;
  z-index: 3;
}

.navbar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60px;
  color: #fff;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.navbar__logo {
  font-size: 1.325rem;
  -webkit-transition: 0;
  -o-transition: 0;
  transition: 0;
  color: #fff;
  text-decoration: none;
}

.navbar__menu {
  display: none;
}
.navbar__menu--noMob {
  display: block;
}
@media (min-width: 992px) {
  .navbar__menu {
    display: block;
  }
}
.navbar__menu li {
  margin-left: 4pt;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: inline-block;
}
@media (min-width: 992px) {
  .navbar__menu li {
    margin-left: 16pt;
  }
}
.navbar__menu a {
  color: #fff;
}
@media (min-width: 992px) {
  .navbar__menu a {
    opacity: 0.75;
  }
  .navbar__menu a:hover {
    opacity: 1;
  }
  .navbar__menu a:after {
    display: block;
    content: "";
    border-bottom: solid 1px #fff;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  }
  .navbar__menu a:hover:after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.navbar__menu-mob {
  display: block;
}
.navbar__menu-mob--noMob {
  display: none;
}
@media (min-width: 992px) {
  .navbar__menu-mob {
    display: none;
  }
}

/*--- Extended and transparent version ---*/
.navbar--extended {
  background-color: transparent;
}
.navbar--extended .navbar__inner {
  height: 60px;
  color: #ffffff;
}

.nav__mobile {
  -webkit-transition: max-height 284ms ease 0s;
  -o-transition: max-height 284ms ease 0s;
  transition: max-height 284ms ease 0s;
  clip: rect(0 0 0 0);
  max-height: 0;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav__mobile ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  background-color: #333c44;
  color: #fff;
}

.nav__mobile li {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav__mobile li:last-child {
  border-bottom: none;
}

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media (min-width: 992px) {
  .js .nav__mobile {
    position: relative;
  }
  .js .nav__mobile.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

.hero {
  position: relative;
  width: 100%;
  background-image: url("../assets/img/motorhome-background-small.jpg");
  -webkit-box-shadow: 0 4px 11px rgba(124, 146, 169, 0.5);
  box-shadow: 0 4px 11px rgba(124, 146, 169, 0.5);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  color: #ffffff;
}
@media (min-width: 768px) {
  .hero {
    background-image: url("../assets/img/motorhome-background-big.jpg");
  }
}
@media (min-width: 1200px) {
  .hero {
    background-position: bottom center;
  }
}

.hero__inner {
  position: relative;
  z-index: 2;
}

.hero__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.36;
  z-index: 1;
  background-color: rgba(108, 99, 255, 0.5);
}

.hero__overlay--gradient {
  background: -webkit-linear-gradient(
    left,
    rgba(108, 99, 255, 0.5),
    rgba(108, 99, 255, 0.6)
  );
  background: -o-linear-gradient(
    left,
    rgba(108, 99, 255, 0.5),
    rgba(108, 99, 255, 0.6)
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(108, 99, 255, 0.5)),
    to(rgba(108, 99, 255, 0.6))
  );
  background: linear-gradient(
    to right,
    rgba(108, 99, 255, 0.5),
    rgba(108, 99, 255, 0.6)
  );
}

.hero__overlay--gradientVertical {
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.8)
  );
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.6)),
    to(rgba(0, 0, 0, 0.8))
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.8)
  );
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: calc(100vh - 50px);
  padding: 92px 0;
  overflow: auto;
}
.hero__content__inner {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 0 2px 6px 0 hsl(0, 0%, 0%, 0.2);
  box-shadow: 0 2px 6px 0 hsl(0, 0%, 0%, 0.2);
}

/*--- CONTENT STYLING ---*/
.hero__title,
.hero__subTitle {
  color: inherit;
  margin-bottom: 1.25em;
  font-weight: bold;
}

.hero__subTitle {
  margin-bottom: 0.5em;
}

.hero__text {
  line-height: 1.7;
  text-align: left;
  font-size: 1em;
}

.hero p a {
  border-bottom: 1px dotted #fff;
}

.hero .button {
  margin: 12pt 8pt;
}

.hero__button {
  color: #ffffff;
  border-color: #ffffff;
}
@media (min-width: 992px) {
  .hero__button:hover {
    color: #e3e3e3;
    border-color: #e3e3e3;
  }
}

.hero__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
}

.hero__sub__down {
  width: 1rem;
  height: 1rem;
  color: #666;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  cursor: pointer;
  /* animation: pulse 3s ease-in-out infinite; */
  -webkit-animation: bounce 2s linear infinite;
  animation: bounce 2s linear infinite;
  border-radius: 50%;
}
@media (min-width: 992px) {
  .hero__sub__down:hover {
    color: #6c63ff;
  }
}

@-webkit-keyframes pulse {
  0%,
  70% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(108, 99, 255, 0.5);
    box-shadow: 0px 0px 0px 0px rgba(108, 99, 255, 0.5);
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 50px rgba(108, 99, 255, 0);
    box-shadow: 0px 0px 0px 50px rgba(108, 99, 255, 0);
  }
}

@keyframes pulse {
  0%,
  70% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(108, 99, 255, 0.5);
    box-shadow: 0px 0px 0px 0px rgba(108, 99, 255, 0.5);
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 50px rgba(108, 99, 255, 0);
    box-shadow: 0px 0px 0px 50px rgba(108, 99, 255, 0);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  40% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  40% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

#scrollToNext {
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

/*--- MODIFICATIONS ---*/
.hero--full .hero__content {
  min-height: 100vh;
}

.hero--full + .hero__sub {
  display: none;
}

.steps {
  text-align: center;
  padding: 16pt 0;
}

@media (min-width: 992px) {
  .steps__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media (min-width: 1025px) {
  .steps__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.step {
  padding: 16pt 0;
  text-align: center;
  width: 100%;
  border-top: 1px solid #eee;
  overflow: auto;
}
.step:first-child {
  border-top: none;
}
@media (min-width: 992px) {
  .step {
    border-top: none;
    width: auto;
  }
}

.step__media {
  margin: 16pt 0;
}
@media (min-width: 992px) {
  .step__media {
    margin: 32pt 0;
  }
}

.step__image {
  max-height: 100px;
  max-width: 222px;
  margin-top: 8pt;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
@media (min-width: 600px) {
  .step__image {
    max-width: none;
  }
}

.step__text {
  max-width: 36ch;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.steps__more__info > .button > span {
  min-width: 20px;
  display: inline-block;
}

.steps__more__info__content {
  -webkit-transition: max-height 500ms ease-in-out;
  -o-transition: max-height 500ms ease-in-out;
  transition: max-height 500ms ease-in-out;
  max-height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 36ch;
  margin: 0 auto 20px;
}
@media (min-width: 600px) {
  .steps__more__info__content {
    max-width: 70ch;
  }
}
@media (min-width: 992px) {
  .steps__more__info__content {
    max-width: none;
  }
}

.steps__more__info__content.content__expanded {
  max-height: 1000px;
}

.steps__more__info__content .reason {
  width: 100%;
}
@media (min-width: 600px) {
  .steps__more__info__content .reason {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .steps__more__info__content .reason {
    width: 33.33%;
  }
}

.expanded {
  padding: 72pt 0;
}

.expanded__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 992px) {
  .expanded__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .expanded__inner.expanded__inner__one_col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.expanded__media {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  text-align: center;
}
@media (min-width: 992px) {
  .expanded__media {
    width: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-ordinal-group: unset;
    -ms-flex-order: unset;
    order: unset;
  }
}

.expanded__content {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
@media (min-width: 992px) {
  .expanded__content {
    padding: 0 16pt;
    width: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-ordinal-group: unset;
    -ms-flex-order: unset;
    order: unset;
  }
}

.expanded:nth-child(even) .expanded__media {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
@media (min-width: 992px) {
  .expanded:nth-child(even) .expanded__media {
    -webkit-box-ordinal-group: unset;
    -ms-flex-order: unset;
    order: unset;
  }
}

/* Actual content */
.expanded__image {
  width: 90%;
  max-width: 220px;
  padding: 16pt 0;
}
@media (min-width: 992px) {
  .expanded__image {
    max-width: 280px;
  }
}

.expanded__title {
  max-width: 70ch;
}

.expanded__text {
  max-width: 70ch;
}

.cta {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#6c63ff),
    to(#4641ff)
  );
  background: -webkit-linear-gradient(left, #6c63ff, #4641ff);
  background: -o-linear-gradient(left, #6c63ff, #4641ff);
  background: linear-gradient(to right, #6c63ff, #4641ff);
  color: #fff;
  padding: 48pt 0;
  text-align: center;
}

.cta--reverse {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#6c63ff),
    to(#4641ff)
  );
  background: -webkit-linear-gradient(right, #6c63ff, #4641ff);
  background: -o-linear-gradient(right, #6c63ff, #4641ff);
  background: linear-gradient(to left, #6c63ff, #4641ff);
}

.cta--plain {
  background: #6c63ff;
}

.cta--secondary {
  background: #4641ff;
}

.cta__title {
  color: inherit;
}

.cta__sub {
  opacity: 0.85;
  max-width: 58ch;
  margin: 16pt auto 24pt auto;
}
.cta__sub--center {
  text-align: center;
}

.footer {
  background-color: #ffffff;
  padding: 36pt 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 600px) {
  .footer__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.footer__logo {
  margin-bottom: 1.5rem;
}
@media (min-width: 600px) {
  .footer__logo {
    margin-bottom: 0;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    margin-right: 4rem;
  }
}

.footer__logo > span {
  font-size: 0.8rem;
}

.footer__textLogo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 16pt;
  display: block;
  cursor: pointer;
  color: #6c63ff;
  font-size: 1.225rem;
  min-width: 33%;
  margin-bottom: 1.5rem;
}
@media (min-width: 600px) {
  .footer__textLogo {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .footer__textLogo {
    min-width: 25%;
    font-size: 1.325rem;
  }
}

.footer__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0.25rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 0.9rem;
}
@media (min-width: 992px) {
  .footer__data {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.footer__data__item {
  padding-bottom: 0.5rem;
  display: inline-block;
  margin-bottom: 8pt;
}

.footer__pages {
}
.footer__social {
  margin-right: 2.5em;
}
.footer__copyright {
}
@media (min-width: 992px) {
  .footer__pages,
  .footer__social {
    margin-right: 4em;
  }
  .footer__pages {
    min-width: 180px;
  }
}

.footer__link {
  color: #6c63ff;
  border-bottom: 1px dotted #6c63ff;
  padding-bottom: 1pt;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
@media (min-width: 992px) {
  .footer__link:hover {
    color: #fafafa;
    border-color: #fafafa;
  }
}

.footer__row {
  margin-bottom: 8pt;
}

/*--- Modifiers---*/
.footer--dark {
  background-color: #333c44;
}
.footer--dark .footer__textLogo {
  color: #fff;
}
.footer--dark .footer__inner {
  color: #d9d9d9;
}
.footer--dark .footer__link {
  color: #d9d9d9;
  border-color: #d9d9d9;
}
@media (min-width: 992px) {
  .footer--dark .footer__link:hover {
    color: #fff;
    border-color: #fff;
  }
}

.auth {
  padding-top: 102.66667px;
}

.auth__inner {
  min-height: calc(100vh - 188px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .auth__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .auth__media {
    width: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}

.auth__media img,
.auth__media svg {
  max-height: 150px;
  max-width: 90%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 600px) {
  .auth__media img,
  .auth__media svg {
    max-height: 300px;
  }
}
@media (min-width: 992px) {
  .auth__media img,
  .auth__media svg {
    max-height: 400px;
  }
}

.auth__auth {
  text-align: center;
}
@media (min-width: 992px) {
  .auth__auth {
    width: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}

.auth__title {
  font-size: 1.728em;
}

.page__header {
  position: relative;
  color: #ffffff;
  -webkit-box-shadow: 0 4px 11px rgba(124, 146, 169, 0.5);
  box-shadow: 0 4px 11px rgba(124, 146, 169, 0.5);
  width: 100%;
}

.page__header__inner {
  padding: 66px 0 0 0;
  position: relative;
  z-index: 3;
}

.page__header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 32pt 0;
  overflow: auto;
}
.page__header__content__inner {
  width: 100%;
  max-width: 66ch;
  text-align: center;
}

/*--- CONTENT STYLING ---*/
.page__header__title {
  color: inherit;
  margin-bottom: 1.25em;
}

.page__header__text {
  opacity: 0.85;
  line-height: 1.7;
  text-align: left;
}

.page {
  padding: 24pt 0;
}

@media (min-width: 992px) {
  .page__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page__menu {
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .page__menu {
    display: block;
    width: 300px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}

.page__main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.page__main__title {
  margin-top: 0.75em;
}

.page__image {
  max-width: 100%;
}

.app__header {
  position: relative;
  color: #ffffff;
  -webkit-box-shadow: 0 4px 11px rgba(124, 146, 169, 0.5);
  box-shadow: 0 4px 11px rgba(124, 146, 169, 0.5);
  width: 100%;
}

.app__header__inner {
  padding: 66px 0 0 0;
  position: relative;
  z-index: 3;
}

.app__header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 32pt 0;
  overflow: auto;
}
.app__header__content__inner {
  width: 100%;
  max-width: 66ch;
  text-align: center;
}

/*--- CONTENT STYLING ---*/
.app__header__title {
  color: inherit;
  margin-bottom: 1.25em;
}

.app__header__text {
  opacity: 0.85;
  line-height: 1.7;
  text-align: left;
}

@media (min-width: 992px) {
  .app__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.app__menu {
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .app__menu {
    display: block;
    width: 300px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}

.app__main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.app__main__title {
  margin-top: 0.75em;
}

.app__image {
  max-width: 100%;
}

/* Vertical menu */
.vMenu {
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
@media (min-width: 992px) {
  .vMenu {
    display: inline-block;
    border-bottom: none;
  }
}
.vMenu li {
  display: inline-block;
  margin-bottom: 1em;
  width: 48%;
  padding-left: 16pt;
}
@media (min-width: 992px) {
  .vMenu li {
    padding-left: 0;
    display: block;
    width: auto;
  }
}
.vMenu a {
  display: block;
}
@media (min-width: 992px) {
  .vMenu a {
    display: inline-block;
    opacity: 0.85;
  }
  .vMenu a:hover {
    opacity: 1;
    color: #6c63ff;
  }
  .vMenu a:after {
    display: block;
    content: "";
    border-bottom: 1px solid #6c63ff;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  }
  .vMenu a:hover:after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
}
.vMenu > ul {
  margin-top: -0.65em;
  padding-left: 1.5em;
  margin-bottom: 0.75em;
}
.vMenu > ul li {
  opacity: 0.85;
  font-size: 0.95em;
  margin-bottom: 0.25em;
}
.vMenu > ul li:before {
  content: "-";
  margin-right: 0.5em;
}

.vMenu--active {
  color: #6c63ff;
}
.vMenu--active:before {
  /* content: "\2014"; */
  margin-right: 0.333em;
}
@media (min-width: 992px) {
  .vMenu--active {
    opacity: 1;
    color: #6c63ff;
  }
  .vMenu--active:after {
    display: block;
    content: "";
    border-bottom: 1px solid #6c63ff;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.expanded__media__slider {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .expanded__media__slider {
    width: 50%;
    margin-bottom: 0;
  }
}

.expanded__media__slider__full__width {
  width: 100%;
}

@media (min-width: 1200px) {
  .itinerary__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }
  .itinerary__content > .icon__label {
    width: 50%;
    padding: 7pt 10pt 7pt 0;
  }
}

.itinerary__header {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.itinerary__header::-webkit-scrollbar {
  display: none;
}

.itinerary__button {
  border: none;
  background: #dcdcdc;
  text-align: left;
  width: 55%;
  padding: 10px 15px;
  -webkit-transition: 175ms ease-in-out;
  -o-transition: 175ms ease-in-out;
  transition: 175ms ease-in-out;
  opacity: 0.6;
  margin: 0 10px;
  cursor: pointer;
  color: #666;
  line-height: 1.3;
  font-weight: 400;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
@media (min-width: 600px) {
  .itinerary__header {
    overflow-x: initial;
    overflow-y: initial;
  }
  .itinerary__button {
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto;
  }
}
@media (min-width: 992px) and (max-width: 1224px) {
  .itinerary__header {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .itinerary__button {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 35%;
  }
}

.itinerary__button.selected {
  cursor: auto;
}
.itinerary__button.selected,
.itinerary__button:hover {
  background-color: #6c63ff;
  color: #fff;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 7px 21px 0 rgba(81, 36, 241, 0.1);
  box-shadow: 0 7px 21px 0 rgba(81, 36, 241, 0.1);
  opacity: 1;
  outline: 0;
}
.itinerary__button:first-child {
  margin-left: 0;
}
.itinerary__button:last-child {
  margin-right: 0;
}
.itinerary__button > img {
  width: 20px;
  border-radius: 3px;
  margin: 0 2px;
}
.itinerary__button > div {
  margin-bottom: 10px;
  font-size: 1.1em;
}

.trustpilot-widget {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.contact__phone {
  font-size: "120%";
}
.contact__phone:hover svg {
  -webkit-animation: ring 2s infinite ease-in-out;
  animation: ring 2s infinite ease-in-out;
}
.contact__email {
  font-size: 120%;
  color: #6c63ff;
  border-bottom: 1px dotted #6c63ff;
  padding-bottom: 1pt;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
@media (min-width: 992px) {
  .contact__container .steps__inner .step {
    width: 31%;
  }
  .contact__phone {
    margin: 2em 0 0.2em 0;
  }
  .contact__email {
    line-height: 100px;
  }
}

@-webkit-keyframes ring {
  /* start from original */
  0% {
  }
  /* rotate right */
  20% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  /* rotate left */
  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  /* rotate right */
  60% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  /* return center */
  80% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes ring {
  /* start from original */
  0% {
  }
  /* rotate right */
  20% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  /* rotate left */
  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  /* rotate right */
  60% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  /* return center */
  80% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.contact__form__submit {
  height: 43px;
  width: 100%;
  margin-bottom: 0.5em;
  position: relative;
}
.contact__form__submit button,
.contact__form__submit .loader {
  position: absolute;
  -webkit-transition: all 300ms, color 0s;
  -o-transition: all 300ms, color 0s;
  transition: all 300ms, color 0s;
}
.contact__form__submit button {
  position: relative;
  margin: 0 auto;
}
.contact__form__submit .loader {
  left: calc(50% - 20px);
  top: 0;
  opacity: 0;
  visibility: hidden;
}
.contact__form__submit .loader.loading {
  opacity: 1;
  visibility: visible;
}
.contact__form__submit button.loading {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  color: transparent;
  opacity: 0;
}
.contact__form__error,
.contact__form__success {
  text-align: center;
}

.Popover-body {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem 2rem;
  background: hsl(0, 0%, 100%);
  color: #484848;
  border-radius: 0.3rem;
  /* box-shadow: 0 2px 6px 0 hsl(0, 0%, 0%, 0.2); */
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
}

.Popover-tipShape {
  fill: hsl(0, 0%, 90%);
}
