.forecast__sunny {
  width: 60px;
  height: 60px;
  position: relative;
}
.forecast__sunny::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: #fdf6c6;
  border: 1px solid #fde850;
  border-radius: 50%;
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.forecast__sunny::after {
  width: 40px;
  height: 40px;
  background: #fde850;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  border: 1px solid #f5d76a;
}

.forecast__cloudy {
  position: relative;
}

.forecast__cloudy__sun {
  width: 40px;
  height: 40px;
  background: #faeb7c;
  border-radius: 50%;
  border: 1px solid #f5d76a;
  margin-left: 10px;
}

.forecast__cloudy__cloud,
.forecast__rainy__cloud,
.forecast__snow__cloud {
  width: 30px;
  height: 25px;
  top: 50%;
  margin-top: -10px;
  background: white;
  position: absolute;
  border: 1px solid #7ccafa;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}

.forecast__cloudy__cloud:after,
.forecast__rainy__cloud:after,
.forecast__snow__cloud:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: white;
  border-top: 1px solid #7ccafa;
  border-left: 1px solid #7ccafa;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  bottom: 0px;
}

.forecast__cloudy__cloud:before,
.forecast__rainy__cloud:before,
.forecast__snow__cloud:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: white;
  border-top: 1px solid #7ccafa;
  border-right: 1px solid #7ccafa;
  border-radius: 50%;
  position: absolute;
  right: -9px;
  bottom: 0px;
}

.forecast__cloudy__cloud--normal {
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-name: moveRight;
  animation-name: moveRight;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.forecast__cloudy__cloud--small {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  left: 50px;
  margin-top: -20px;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-name: moveLeft;
  animation-name: moveLeft;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.forecast__rainy,
.forecast__snow {
  height: 50px;
  width: 60px;
  overflow: hidden;
  position: relative;
}

.forecast__rainy__cloud--grey {
  top: 10px;
  border: 0px;
  margin-left: 15px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#7f868d),
    to(#466d98)
  );
  background: -webkit-linear-gradient(top, #7f868d, #466d98);
  background: -o-linear-gradient(top, #7f868d, #466d98);
  background: linear-gradient(to bottom, #7f868d, #466d98);
}

.forecast__rainy__cloud--grey:after {
  border-top: 1px solid #7f868d;
  border-left: 1px solid #7f868d;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#7f868d),
    to(#466d98)
  );
  background: -webkit-linear-gradient(top, #7f868d, #466d98);
  background: -o-linear-gradient(top, #7f868d, #466d98);
  background: linear-gradient(to bottom, #7f868d, #466d98);
}
.forecast__rainy__cloud--grey:before {
  border-top: 1px solid #7f868d;
  border-right: 1px solid #7f868d;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#7f868d),
    to(#466d98)
  );
  background: -webkit-linear-gradient(top, #7f868d, #466d98);
  background: -o-linear-gradient(top, #7f868d, #466d98);
  background: linear-gradient(to bottom, #7f868d, #466d98);
}

.forecast__rainy__rain {
  position: absolute;
  width: 2px;
  background: #689edb;
  top: 17px;
}

.forecast__rainy__rain--one {
  left: 15px;
  height: 10px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: raining;
  animation-name: raining;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.forecast__rainy__rain--two {
  left: 25px;
  height: 10px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: raining;
  animation-name: raining;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.forecast__rainy__rain--three {
  left: 35px;
  height: 10px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-name: raining;
  animation-name: raining;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.forecast__rainy__rain--four {
  left: 45px;
  height: 10px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: raining;
  animation-name: raining;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.forecast__snow__cloud--grey {
  top: 10px;
  border: 0px;
  margin-left: 15px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#eceff2),
    to(#cbd0d6)
  );
  background: -webkit-linear-gradient(top, #eceff2, #cbd0d6);
  background: -o-linear-gradient(top, #eceff2, #cbd0d6);
  background: linear-gradient(to bottom, #eceff2, #cbd0d6);
}

.forecast__snow__cloud--grey:after {
  border-top: 1px solid #eceff2;
  border-left: 1px solid #eceff2;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#eceff2),
    to(#cbd0d6)
  );
  background: -webkit-linear-gradient(top, #eceff2, #cbd0d6);
  background: -o-linear-gradient(top, #eceff2, #cbd0d6);
  background: linear-gradient(to bottom, #eceff2, #cbd0d6);
}
.forecast__snow__cloud--grey:before {
  border-top: 1px solid #eceff2;
  border-right: 1px solid #eceff2;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#eceff2),
    to(#cbd0d6)
  );
  background: -webkit-linear-gradient(top, #eceff2, #cbd0d6);
  background: -o-linear-gradient(top, #eceff2, #cbd0d6);
  background: linear-gradient(to bottom, #eceff2, #cbd0d6);
}

.forecast__snow__snow {
  position: absolute;
  width: 1px;
  height: 5px;
  background: #7ccafa;
  top: 10px;
}
.forecast__snow__snow:after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 1px;
  top: 50%;
  margin-top: 0px;
  background: #7ccafa;
  margin-left: -2px;
}

.forecast__snow__snow--first {
  left: 15px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: raining;
  animation-name: raining;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.forecast__snow__snow--second {
  left: 25px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: raining;
  animation-name: raining;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.forecast__snow__snow--third {
  left: 35px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: raining;
  animation-name: raining;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.forecast__snow__snow--fourth {
  left: 45px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: raining;
  animation-name: raining;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* animations */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes moveRight {
  0% {
    left: 10px;
  }

  50% {
    left: 45px;
  }

  100% {
    left: 10px;
  }
}

@keyframes moveRight {
  0% {
    left: 10px;
  }

  50% {
    left: 45px;
  }

  100% {
    left: 10px;
  }
}

@-webkit-keyframes moveLeft {
  0% {
    left: 50px;
  }

  50% {
    left: 10px;
  }

  100% {
    left: 50px;
  }
}

@keyframes moveLeft {
  0% {
    left: 50px;
  }

  50% {
    left: 10px;
  }

  100% {
    left: 50px;
  }
}

@-webkit-keyframes raining {
  0% {
    top: 15px;
  }
  100% {
    top: 50px;
  }
}

@keyframes raining {
  0% {
    top: 15px;
  }
  100% {
    top: 50px;
  }
}
