.our-cars {
  margin-top: 1em;
}

.our-cars > header {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
}
.our-cars > header .details {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
}
.our-cars > header .details h3 {
  text-align: center;
  margin-top: 1em;
}
.our-cars > .title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 1em;
}
.our-cars > .title h2 {
  width: 100%;
  margin: 0;
}
.our-cars > .title .premium-badge {
  width: 120px;
}
.our-cars > .title .model {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-weight: bold;
}
.our-cars > .title .model > svg {
  margin-right: 5px;
}
.our-cars > header .details .main-assets {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: -1em;
  justify-content: space-between;
}
.our-cars > header .details .main-assets .main-asset-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100px;
  margin-bottom: 1em;
}
.our-cars > header .details .main-assets .main-asset-wrapper .icon {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.our-cars > header .details .main-assets .main-asset-wrapper .text {
  line-height: 1.1em;
  margin-top: 7px;
  font-size: 0.9em;
  font-weight: bold;
}

.our-cars > header .details .other-assets {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}
.our-cars > header .details .other-assets .other-asset-wrapper {
  display: flex;
  flex-direction: column;
}
.our-cars > header .details .other-assets .other-asset-wrapper .title {
  text-transform: uppercase;
  font-size: 0.75em;
  opacity: 0.6;
}
.our-cars > header .details .other-assets .other-asset-wrapper .text {
  font-weight: bold;
}

.our-cars > header .details .top-cta {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.our-cars > header .media {
  margin-top: 1em;
  flex-grow: 1;
}
.our-cars > header .media .video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.our-cars > header .media .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 992px) {
  .our-cars > header {
    flex-direction: row;
    margin-top: 1em;
  }
  .our-cars > header .details,
  .our-cars > header .media {
    margin: 0;
    border: 0 none;
  }
  .our-cars > header .details {
    margin-right: 2em;
    max-width: 395px;
  }
  .our-cars > header .media {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.our-cars > section {
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
}
.our-cars > section .title {
  font-weight: bold;
}
.our-cars > section .info.two-cols {
  display: flex;
  flex-wrap: wrap;
}
.our-cars > section .info.two-cols > .label {
  width: 50%;
}
.our-cars > section .info .other {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  width: 100%;
}
@media (min-width: 992px) {
  .our-cars > section {
    display: flex;
  }
  .our-cars > section .title {
    width: 200px;
  }
  .our-cars > section .info {
    flex-grow: 1;
    /* Needed this to force flex to take into account the title width*/
    width: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .our-cars > section .info > .label {
    width: 50%;
  }
}
