/* source: https://codepen.io/anon/pen/bJZJdb?editors=1100 */
.ribbon-corner-wrapper {
  width: 100%;
  height: 188px;
  position: absolute;
  top: -8px;
  left: 8px;
  overflow: hidden;
  color: #fff;
}
.ribbon-corner-wrapper:before,
.ribbon-corner-wrapper:after {
  content: "";
  position: absolute;
}
.ribbon-corner-wrapper:before {
  width: 40px;
  height: 8px;
  right: 100px;
  background: #c02031;
  border-radius: 8px 8px 0px 0px;
}
.ribbon-corner-wrapper:after {
  width: 8px;
  height: 40px;
  right: 0px;
  top: 100px;
  background: #c02031;
  border-radius: 0px 8px 8px 0px;
}
.ribbon {
  width: 200px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 30px;
  right: -50px;
  z-index: 2;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px dashed;
  box-shadow: 0 0 0 3px #f8463f, 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
  background: #f8463f;
  text-align: center;
}
